@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html {
  scroll-behavior: smooth;
}

.before-element::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #ff497c;
  height: 3px;
  width: calc(100% - 30px);
}
