@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

.before-element::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #ff497c;
  height: 3px;
  width: calc(100% - 30px);
}

.image-hover {
  position: relative;
  display: block;
  overflow: hidden;
}

.image-hover:before {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(
    left,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.image-hover:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.process-style:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -68px;
  width: 120px;
  height: 120px;
  background: url("/images/arrow-top.svg");
  background-repeat: no-repeat;
}

.process-style.last:before {
  content: none;
}

.process-style.arrow-top:before {
  content: "";
  position: absolute;
  top: 30px;
  right: -68px;
  width: 120px;
  height: 120px;
  background: url("/images/arrow-bottom.svg");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .process-style:before {
    background: none;
    position: unset;
  }
  .process-style.arrow-top::before {
    background: none;
    position: unset;
  }
}
